@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<DIV id="item1" class="rnr-b-hmenu @(Model.displayVar("menustyle")) Leaf @(Model.displayVar("item1_current"))">
	<div>
		<A @(Model.displayVar("item1_menulink_attrs"))>@(Model.displayVar("item1_title"))</a>
	</div>
</div>
<DIV id="item2" class="rnr-b-hmenu @(Model.displayVar("menustyle")) Leaf @(Model.displayVar("item2_current"))">
	<div>
		<A @(Model.displayVar("item2_menulink_attrs"))>@(Model.displayVar("item2_title"))</a>
	</div>
</div>
<DIV id="item3" class="rnr-b-hmenu @(Model.displayVar("menustyle")) Leaf @(Model.displayVar("item3_current"))">
	<div>
		<A @(Model.displayVar("item3_menulink_attrs"))>@(Model.displayVar("item3_title"))</a>
	</div>
</div>
