@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

@foreach (string _mainmenu_block in Model.GetSection("mainmenu_block", this)){
<table class="runner-hmenu" cellpadding="0">
	<tr>
	@foreach (string _simpleTypeMenu in Model.GetSection("simpleTypeMenu", this)){
		
		foreach (string _item1_menulink in Model.GetSection("item1_menulink", this)){
		<td id="item1" view="topitem" class="Group">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item1_current in Model.GetSection("item1_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item1_menulink_attrs")) @{foreach (string _item1_current in Model.GetSection("item1_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item1_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

						<ul id="group1">
			
				@foreach (string _item2_menulink in Model.GetSection("item2_menulink", this)){
				<LI id="item2" parent="group1" class="Leaf@{foreach (string _item2_current in Model.GetSection("item2_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item2_menulink_attrs")) @{foreach (string _item2_current in Model.GetSection("item2_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item2_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item3_menulink in Model.GetSection("item3_menulink", this)){
				<LI id="item3" parent="group1" class="Leaf@{foreach (string _item3_current in Model.GetSection("item3_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item3_menulink_attrs")) @{foreach (string _item3_current in Model.GetSection("item3_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item3_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item4_menulink in Model.GetSection("item4_menulink", this)){
				<LI id="item4" parent="group1" class="Leaf@{foreach (string _item4_current in Model.GetSection("item4_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item4_menulink_attrs")) @{foreach (string _item4_current in Model.GetSection("item4_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item4_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item5_menulink in Model.GetSection("item5_menulink", this)){
				<LI id="item5" parent="group1" class="Leaf@{foreach (string _item5_current in Model.GetSection("item5_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item5_menulink_attrs")) @{foreach (string _item5_current in Model.GetSection("item5_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item5_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item6_menulink in Model.GetSection("item6_menulink", this)){
				<LI id="item6" parent="group1" class="Leaf@{foreach (string _item6_current in Model.GetSection("item6_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item6_menulink_attrs")) @{foreach (string _item6_current in Model.GetSection("item6_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item6_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item7_menulink in Model.GetSection("item7_menulink", this)){
				<LI id="item7" parent="group1" class="Leaf@{foreach (string _item7_current in Model.GetSection("item7_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item7_menulink_attrs")) @{foreach (string _item7_current in Model.GetSection("item7_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item7_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item8_menulink in Model.GetSection("item8_menulink", this)){
				<LI id="item8" parent="group1" class="Leaf@{foreach (string _item8_current in Model.GetSection("item8_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item8_menulink_attrs")) @{foreach (string _item8_current in Model.GetSection("item8_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item8_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item9_menulink in Model.GetSection("item9_menulink", this)){
				<LI id="item9" parent="group1" class="Leaf@{foreach (string _item9_current in Model.GetSection("item9_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item9_menulink_attrs")) @{foreach (string _item9_current in Model.GetSection("item9_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item9_title"))</a>&nbsp;


				</li>
				}
						</ul>
		</td>
		}
			
		foreach (string _item10_menulink in Model.GetSection("item10_menulink", this)){
		<td id="item10" view="topitem" class="Group">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item10_current in Model.GetSection("item10_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item10_menulink_attrs")) @{foreach (string _item10_current in Model.GetSection("item10_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item10_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

						<ul id="group10">
			
				@foreach (string _item11_menulink in Model.GetSection("item11_menulink", this)){
				<LI id="item11" parent="group10" class="Leaf@{foreach (string _item11_current in Model.GetSection("item11_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item11_menulink_attrs")) @{foreach (string _item11_current in Model.GetSection("item11_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item11_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item12_menulink in Model.GetSection("item12_menulink", this)){
				<LI id="item12" parent="group10" class="Leaf@{foreach (string _item12_current in Model.GetSection("item12_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item12_menulink_attrs")) @{foreach (string _item12_current in Model.GetSection("item12_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item12_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item13_menulink in Model.GetSection("item13_menulink", this)){
				<LI id="item13" parent="group10" class="Leaf@{foreach (string _item13_current in Model.GetSection("item13_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item13_menulink_attrs")) @{foreach (string _item13_current in Model.GetSection("item13_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item13_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item14_menulink in Model.GetSection("item14_menulink", this)){
				<LI id="item14" parent="group10" class="Leaf@{foreach (string _item14_current in Model.GetSection("item14_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item14_menulink_attrs")) @{foreach (string _item14_current in Model.GetSection("item14_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item14_title"))</a>&nbsp;


				</li>
				}
						</ul>
		</td>
		}
			
		foreach (string _item15_menulink in Model.GetSection("item15_menulink", this)){
		<td id="item15" view="topitem" class="Group">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item15_current in Model.GetSection("item15_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item15_menulink_attrs")) @{foreach (string _item15_current in Model.GetSection("item15_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item15_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

						<ul id="group15">
			
				@foreach (string _item16_menulink in Model.GetSection("item16_menulink", this)){
				<LI id="item16" parent="group15" class="Leaf@{foreach (string _item16_current in Model.GetSection("item16_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item16_menulink_attrs")) @{foreach (string _item16_current in Model.GetSection("item16_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item16_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item17_menulink in Model.GetSection("item17_menulink", this)){
				<LI id="item17" parent="group15" class="Leaf@{foreach (string _item17_current in Model.GetSection("item17_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item17_menulink_attrs")) @{foreach (string _item17_current in Model.GetSection("item17_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item17_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item18_menulink in Model.GetSection("item18_menulink", this)){
				<LI id="item18" parent="group15" class="Leaf@{foreach (string _item18_current in Model.GetSection("item18_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item18_menulink_attrs")) @{foreach (string _item18_current in Model.GetSection("item18_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item18_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item19_menulink in Model.GetSection("item19_menulink", this)){
				<LI id="item19" parent="group15" class="Leaf@{foreach (string _item19_current in Model.GetSection("item19_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item19_menulink_attrs")) @{foreach (string _item19_current in Model.GetSection("item19_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item19_title"))</a>&nbsp;


				</li>
				}
						</ul>
		</td>
		}
			
		foreach (string _item20_menulink in Model.GetSection("item20_menulink", this)){
		<td id="item20" view="topitem" class="Group">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item20_current in Model.GetSection("item20_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item20_menulink_attrs")) @{foreach (string _item20_current in Model.GetSection("item20_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item20_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

						<ul id="group20">
			
				@foreach (string _item21_menulink in Model.GetSection("item21_menulink", this)){
				<LI id="item21" parent="group20" class="Leaf@{foreach (string _item21_current in Model.GetSection("item21_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item21_menulink_attrs")) @{foreach (string _item21_current in Model.GetSection("item21_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item21_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item22_menulink in Model.GetSection("item22_menulink", this)){
				<LI id="item22" parent="group20" class="Leaf@{foreach (string _item22_current in Model.GetSection("item22_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item22_menulink_attrs")) @{foreach (string _item22_current in Model.GetSection("item22_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item22_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item23_menulink in Model.GetSection("item23_menulink", this)){
				<LI id="item23" parent="group20" class="Leaf@{foreach (string _item23_current in Model.GetSection("item23_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item23_menulink_attrs")) @{foreach (string _item23_current in Model.GetSection("item23_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item23_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item24_menulink in Model.GetSection("item24_menulink", this)){
				<LI id="item24" parent="group20" class="Leaf@{foreach (string _item24_current in Model.GetSection("item24_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item24_menulink_attrs")) @{foreach (string _item24_current in Model.GetSection("item24_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item24_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item25_menulink in Model.GetSection("item25_menulink", this)){
				<LI id="item25" parent="group20" class="Leaf@{foreach (string _item25_current in Model.GetSection("item25_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item25_menulink_attrs")) @{foreach (string _item25_current in Model.GetSection("item25_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item25_title"))</a>&nbsp;


				</li>
				}
									
				@foreach (string _item26_menulink in Model.GetSection("item26_menulink", this)){
				<LI id="item26" parent="group20" class="Leaf@{foreach (string _item26_current in Model.GetSection("item26_current", this)){@MvcHtmlString.Create(@" current")}}">
					&nbsp;<A @(Model.displayVar("item26_menulink_attrs")) @{foreach (string _item26_current in Model.GetSection("item26_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item26_title"))</a>&nbsp;


				</li>
				}
						</ul>
		</td>
		}
			
		foreach (string _item27_menulink in Model.GetSection("item27_menulink", this)){
		<td id="item27" view="topitem" class="Leaf">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item27_current in Model.GetSection("item27_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item27_menulink_attrs")) @{foreach (string _item27_current in Model.GetSection("item27_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item27_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

		</td>
		}
			
		foreach (string _item28_menulink in Model.GetSection("item28_menulink", this)){
		<td id="item28" view="topitem" class="Leaf">
			<table cellpadding="0">
	<TR class="runner-menutab@{foreach (string _item28_current in Model.GetSection("item28_current", this)){@MvcHtmlString.Create(@" current")}}">
		<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		<td class="runner-cc">	
			<A @(Model.displayVar("item28_menulink_attrs")) @{foreach (string _item28_current in Model.GetSection("item28_current", this)){@MvcHtmlString.Create(@"class=""curlink"" ")}}>@(Model.displayVar("item28_title"))</a>
		</td>
		<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
	</tr>
</table>	

		</td>
		}
					foreach (string _adminarea_link in Model.GetSection("adminarea_link", this)){
		<td id="itemAA" view="topitem" class="Leaf">
	<table class="runner-c" cellpadding="0">
		<tr class="runner-toprow style1">
			<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
			<td class="runner-cc">	
				<A @(Model.displayVar("itemAA_menulink_attrs")) @(Model.displayVar("adminarealink_attrs"))>@(Model.displayVar("itemAA_title"))</a>
			</td>
			<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		</tr>
	</table>	
</td>	
		}
	}

	@foreach (string _adminAreaTypeMenu in Model.GetSection("adminAreaTypeMenu", this)){
	foreach (string _item1_menulink_1 in Model.GetSection("item1_menulink", this)){
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<TR class="runner-menutab@{foreach (string _item1_current in Model.GetSection("item1_current", this)){@MvcHtmlString.Create(@" current")}}">
			<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
			<td class="runner-cc">	
				<A @(Model.displayVar("item1_menulink_attrs")) class="curlink">@(Model.displayVar("item1_title"))</a>
			</td>
			<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		</tr>
	</table>	
</td>
}
foreach (string _item2_menulink_1 in Model.GetSection("item2_menulink", this)){
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<TR class="runner-menutab@{foreach (string _item2_current in Model.GetSection("item2_current", this)){@MvcHtmlString.Create(@" current")}}">
			<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
			<td class="runner-cc">	
				<A @(Model.displayVar("item2_menulink_attrs")) class="curlink">@(Model.displayVar("item2_title"))</a>
			</td>
			<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		</tr>
	</table>	
</td>
}
foreach (string _item3_menulink_1 in Model.GetSection("item3_menulink", this)){
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<TR class="runner-menutab@{foreach (string _item3_current in Model.GetSection("item3_current", this)){@MvcHtmlString.Create(@" current")}}">
			<td class="runner-cl"><IMG src="@(webRootPath)images/spacer.gif" /></td>
			<td class="runner-cc">	
				<A @(Model.displayVar("item3_menulink_attrs")) class="curlink">@(Model.displayVar("item3_title"))</a>
			</td>
			<td class="runner-cr"><IMG src="@(webRootPath)images/spacer.gif" /></td>
		</tr>
	</table>	
</td>
}


	}
	</tr>
</table>
}