@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = MVCFunctions.GetWebRootPath();
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
		<META http-equiv="X-UA-Compatible" content="IE=Edge" />
		<META name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@(Model.displayVar("pagetitle"))</title>

		<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<LINK REL="stylesheet" href="@(webRootPath)styles/default.css" type="text/css" />
		@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
		<LINK REL="stylesheet" href="@(webRootPath)styles/defaultRTL.css" type="text/css" />
		}
		@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
		<LINK REL="stylesheet" href="@(webRootPath)@(Model.displayVar("stylepath"))" type="text/css" />
		}
	</head>

	<BODY class="@(Model.displayVar("stylename")) function-view" @(Model.displayVar("bodyattrs"))>
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		
		<div class="container r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	">
	 
		<H2 data-itemtype="view_header" data-itemid="view_header" @(Model.displayVar("item_view_header")) data-pageid="@(Model.displayVar("pageid"))">@(Model.displayVar("pagetitlelabel dbo_EMPLEADO view"))</h2>
	</div>					</div>
	</div>		
}
									@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	</div>		
}
									@foreach (string _grid_block in Model.GetSection("grid_block", this)){




 
	 
												<TABLE data-body-align="center" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class="r-edit-form" cellpadding="0" cellspacing="0" @(Model.displayVar("grid_hiddenattr")) data-form-width="1" data-v-width="4">
	<tbody>
										<tr>
										

@foreach (string _cellblock_grid_c3 in Model.GetSection("cellblock_grid_c3", this)){
<TD @(Model.displayVar("cell_grid_c3")) class=" r-ori-vert" data-fullwidth data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))" data-v-cell="4">
	<div edit-form-cell class="clearfix">
				
@foreach (string _foto_fieldblock in Model.GetSection("foto_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_foto"))  r-vertical-field" data-fieldname="foto" data-signal-error-for="foto@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" @(Model.displayVar("item_integrated_edit_field8")) data-pageid="@(Model.displayVar("pageid"))" data-field="foto">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_foto"))">
		
		@foreach (string _foto_label in Model.GetSection("foto_label", this)){@(Model.displayVar("label dbo_EMPLEADO foto"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("foto_value"))	</div>

		
</div>


}
											
@foreach (string _ONI_fieldblock in Model.GetSection("ONI_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_ONI"))  r-vertical-field" data-fieldname="ONI" data-signal-error-for="ONI@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" @(Model.displayVar("item_integrated_edit_field")) data-pageid="@(Model.displayVar("pageid"))" data-field="ONI">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_ONI"))">
		
		@foreach (string _ONI_label in Model.GetSection("ONI_label", this)){@(Model.displayVar("label dbo_EMPLEADO ONI"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("ONI_value"))	</div>

		
</div>


}
											
@foreach (string _nombre_fieldblock in Model.GetSection("nombre_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_nombre"))  r-vertical-field" data-fieldname="nombre" data-signal-error-for="nombre@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" @(Model.displayVar("item_integrated_edit_field1")) data-pageid="@(Model.displayVar("pageid"))" data-field="nombre">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_nombre"))">
		
		@foreach (string _nombre_label in Model.GetSection("nombre_label", this)){@(Model.displayVar("label dbo_EMPLEADO nombre"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("nombre_value"))	</div>

		
</div>


}
											
@foreach (string _id_tipo_fieldblock in Model.GetSection("id_tipo_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_id_tipo"))  r-vertical-field" data-fieldname="id_tipo" data-signal-error-for="id_tipo@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" @(Model.displayVar("item_integrated_edit_field3")) data-pageid="@(Model.displayVar("pageid"))" data-field="id_tipo">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_id_tipo"))">
		
		@foreach (string _id_tipo_label in Model.GetSection("id_tipo_label", this)){@(Model.displayVar("label dbo_EMPLEADO id_tipo"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("id_tipo_value"))	</div>

		
</div>


}
											
@foreach (string _id_departamento_fieldblock in Model.GetSection("id_departamento_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_id_departamento"))  r-vertical-field" data-fieldname="id_departamento" data-signal-error-for="id_departamento@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" @(Model.displayVar("item_integrated_edit_field4")) data-pageid="@(Model.displayVar("pageid"))" data-field="id_departamento">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_id_departamento"))">
		
		@foreach (string _id_departamento_label in Model.GetSection("id_departamento_label", this)){@(Model.displayVar("label dbo_EMPLEADO id_departamento"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("id_departamento_value"))	</div>

		
</div>


}
											
@foreach (string _id_horarios_fieldblock in Model.GetSection("id_horarios_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_id_horarios"))  r-vertical-field" data-fieldname="id_horarios" data-signal-error-for="id_horarios@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" @(Model.displayVar("item_integrated_edit_field5")) data-pageid="@(Model.displayVar("pageid"))" data-field="id_horarios">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_id_horarios"))">
		
		@foreach (string _id_horarios_label in Model.GetSection("id_horarios_label", this)){@(Model.displayVar("label dbo_EMPLEADO id_horarios"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("id_horarios_value"))	</div>

		
</div>


}
											
@foreach (string _id_grupo_fieldblock in Model.GetSection("id_grupo_fieldblock", this)){


<DIV class="r-integrated-field form-group clearfix @(Model.displayVar("fielddispclass_id_grupo"))  r-vertical-field" data-fieldname="id_grupo" data-signal-error-for="id_grupo@(Model.displayVar("id"))" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" @(Model.displayVar("item_integrated_edit_field2")) data-pageid="@(Model.displayVar("pageid"))" data-field="id_grupo">

	
	<LABEL class="col-md-offset-3 col-md-6" for="@(Model.displayVar("labelfor_id_grupo"))">
		
		@foreach (string _id_grupo_label in Model.GetSection("id_grupo_label", this)){@(Model.displayVar("label dbo_EMPLEADO id_grupo"))}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		@(Model.displayVar("id_grupo_value"))	</div>

		
</div>


}
	
								</td>
			}
								</tr>
			</tbody></table>
}
									@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="small" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))" data-v-width="4" data-v-margin="1">		
	 
		<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="			col-md-6
	">
	 
		@foreach (string _back_button in Model.GetSection("back_button", this)){
<SPAN data-itemtype="view_back_list" data-itemid="view_back_list" @(Model.displayVar("item_view_back_list")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" @(Model.displayVar("backbutton_attrs"))>
							Volver a la lista			</a>
</span>
}
	 
		@foreach (string _close_button in Model.GetSection("close_button", this)){
<SPAN data-itemtype="view_close" data-itemid="view_close" @(Model.displayVar("item_view_close")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-default   
	" href="#" @(Model.displayVar("closebutton_attrs"))>
							Cerrar ventana			</a>
</span>
}
	</div>			 
				<DIV data-cellId="below-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c2")) class="r-align-right r-ori-vert			col-md-6
	">
	 
		<SPAN data-itemtype="hamburger" data-itemid="hamburger" @(Model.displayVar("item_hamburger")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _edit_page_button in Model.GetSection("edit_page_button", this)){
	<LI data-itemtype="view_edit" data-itemid="view_edit" @(Model.displayVar("item_view_edit")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("edit_page_button_attrs")) title>
				
		Editar		
		</a>
	</li>
}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
}
			</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
